:root {
  --main-color-dark: #141414;
  --main-color-light: #edeef0;

  --text-color-light: #000;
  --text-color-dark: #fff;

  --header-background-dark: #222222;
  --header-background-light: #fff;

  --header-panel-background-dark: #424242;
  --header-panel-background-light: #d3d3d3;

  --search-background-dark: #424242;
  --search-background-light: #edeef0;

  --search-button-background-dark: #222222;
  --search-button-background-light: #222222;

  --downloader-background-light: #edeef0;
  --downloader-background-dark: #424242;

  --input-border: #666666;

  --modal-background-dark: #424242;

  --submit-background-button-dark: #e1e0e6;

  --separator-dark: #666666;
  --separator-light: #000;

  --separator-text-dark: #a6a6a6;

  --checkbox-dark: #222222;

  --checkbox-label-dark: #fff;
  --checkbox-label-light: #000;
}
