@import "./reset.css";
@import "./colors.css";

html,
body {
  font-size: 1vw;
}

html[data-theme="light"] body {
  background-color: var(--main-color-light);
}

html[data-theme="dark"] body {
  background-color: var(--main-color-dark);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}
