.root {
  @mixin responsive padding-inline, 18, 30;
  @mixin responsive padding-block, 6, 6;
  
  z-index: 100;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeButton,
.authButton {
  position: absolute;
}

.authButton {
  right: 0;
}

.themeButton {
  left: 0;
}

html[data-theme="light"] {
  .root {
    background-color: var(--header-background-light);
  }
}

html[data-theme="dark"] {
  .root {
    background-color: var(--header-background-dark);
  }
}
