.root {
  @mixin responsive gap, 10, 30;
  @mixin transitionOptions;
  @mixin responsive padding-block, 15, 30;
  @mixin responsive padding-inline, 15, 40;
  @mixin responsive width, 370, 680;
  @mixin responsive border-radius, 30, 60;

  opacity: 0;
  visibility: hidden;
  transition-property: opacity visibility;

  display: flex;

  &.active {
    animation: show 0.5s cubic-bezier(0.55, 0, 0.1, 1) 0.2s forwards;
  }
}

.desktopImage {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobileImage {
  @mixin responsive margin-block-end, 10;
  align-self: center;

  @media (min-width: 768px) {
    display: none;
  }
}

@keyframes show {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.name {
  @mixin responsive padding-block-end, 10;
}

html[data-theme="light"] {
  .root {
    background-color: var(--downloader-background-light);
    box-shadow: 0 4px 4px 0 #00000025;
  }
}

html[data-theme="dark"] {
  .root {
    background-color: var(--downloader-background-dark);
  }
}

.rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
