.root {
  @mixin transition;
  @mixin responsive padding-inline, 15, 40;
  @mixin responsive padding-block, 15, 48;
  @mixin responsive border-radius, 24, 24;
  @mixin responsive width, 350, 486;

  position: fixed;
  left: 50%;
  top: 50%;

  max-width: unset;
  max-height: unset;
  outline: none;
  translate: -50% -50%;

  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
}

.root::backdrop {
  backdrop-filter: blur(0.4rem);
}

.root.visible::backdrop,
.root.visible {
  opacity: 1;
  visibility: visible;
}

.cross {
  @mixin responsive width, 16, 30;
  @mixin responsive height, 16, 30;

  path {
    @mixin transition stroke;
  }
}

.closeButton {
  @mixin responsive margin-inline, 30, 30;
  @mixin responsive margin-block, 20, 15;

  position: absolute;
  right: 0;
  top: 0;

  @media (hover: hover) {
    &:hover .cross path {
      stroke: red;
    }
  }
}

html[data-theme="dark"] .cross path {
  stroke: var(--text-color-dark);
}
