.root {
  @mixin responsive gap, 5, 5;

  display: flex;
  align-items: center;
}

.root,
.button {
  @mixin responsive-font 16, 16, 1, 700;
}

.button {
  @mixin transition opacity;

  @media (hover: hover) {
    &:hover {
      opacity: 0.4;
    }
  }
}

html[data-theme="light"] {
  .slash,
  .button {
    color: var(--text-color-light);
  }
}

html[data-theme="dark"] {
  .slash,
  .button {
    color: var(--text-color-dark);
  }
}
